* {
    text-align: center;
}

h3,
h1,
#version {
    font-family: 'Atkinson Hyperlegible';
    font-size: 25px;
    color: rgb(48, 177, 121);
}

html {
    background-color: rgb(215, 255, 255);
}

#scroll {
    background-image: url("android-chrome-130x130.png");
    height: 130px;
    width: 130px;
    animation: picture 10s ease-in-out infinite;
    animation-direction: normal;
    margin: auto;
}

@keyframes picture {
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}





#welcome {
    font-size: 50px;
}

h3 {
    color: rgb(65, 153, 204);
}

#game{
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: rgb(177, 214, 14);
}

.parent {
    text-align: center;
}

.parent>ul {
    display: inline-block;
}

.button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(0, 185, 0);
    border-radius: 20px;
}

/* ----- Footer ----- */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.icons .fa {
    margin: 0 8px;
    cursor: pointer;
    padding: 3px 0;
    font-size: 70px;
}

.fa.fa-github {
    color: black;
}

.fa.fa-youtube-play {
    color: red;
}

.fa-desktop {
    color: blue;
}

/* ------ Screen Adjusting ------ */

@media(max-width: 500px) {

    h3,
    h1,
    #version {
        font-size: 20px;
    }

    #welcome {
        font-size: 40px;
    }

    .button {
        padding: 10px 22px;
        font-size: 14px;
        border-radius: 10px;
    }

    .button:hover {
        background-color: darkgreen;
        border-radius: 22px;
    }

    /* ----- Footer ----- */

    .footer {
        width: 100%;
        text-align: center;
        padding: 22px 0;
    }

    .icons .fa {
        margin: 0 6px;
        cursor: pointer;
        padding: 3px 0;
        font-size: 60px;
    }
}