h3, h1, #version {
    font-family: 'Atkinson Hyperlegible';
    font-size: 25px;
    color: rgb(48, 177, 121);
}
html {
    background-color: rgb(215, 255, 255);
}

#tweet {
    width: 64px;
}

#welcome {
    font-size: 50px;
}
